---
// Assets
import { Image } from "astro:assets";
// Fndation
import Text from "@/components/fundations/elements/Text.astro";
const { title, url, avatar, tags, pubDate } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  tags: Astro.props.post.data.tags,
  title: Astro.props.post.data.title,
  avatar: Astro.props.post.data.avatar.url,
  pubDate: Astro.props.post.data.pubDate.toString().slice(0, 10),
};
---

<a
  href={url}
  title={title}
  class="grid grid-cols-1 md:grid-cols-2 gap-4 p-8 lg:items-center duration-300 group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30"
>
  <div>
    <Text tag="p" variant="textXS" class="text-base-400 font-medium"
      ><time datetime={pubDate}>{pubDate}</time>{tags}</Text
    >
    <Text
      tag="h3"
      variant="textXL"
      class="text-white font-medium hover:opacity-50 mt-2 transition-opacity duration-200 text-balance"
      >{title}</Text
    >
  </div>
  <div class="md:flex items-center gap-2 text-base-400 md:ml-auto hidden">
    <Image
      width="500"
      height="500"
      src={avatar}
      alt={title}
      class="size-8 rounded-full"
    />
  </div>
</a>
