---
// Assets
import { Image } from "astro:assets";
// Fndation
import Text from "@/components/fundations/elements/Text.astro";
// Components
import BookmarksModal from "./BookmarksModal.astro";
// import data from Tools content collections
const { title, url, thumbnail, live } = {
  url: "/sites/site/" + Astro.props.post.slug,
  live: Astro.props.post.data.live,
  title: Astro.props.post.data.title,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<div
  class="group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30 duration-300 group"
>
  <div class="overflow-hidden relative">
    <Image
      width="500"
      height="500"
      src={thumbnail}
      alt={Astro.props.post.data.thumbnail.alt}
      class="object-cover aspect-8/10 w-full object-top rounded-xl"
    />
    <a href={url} title={title}>
      <span class="absolute inset-0"></span>
    </a>
  </div>
  <div class="pt-2">
    <div class="flex items-center lg:justify-between">
      <div class="flex items-center gap-2">
        <a
          href={live}
          title={title}
          class="size-8 bg-base-900 p-2 flex hover:bg-base-100 rounded-full transition-colors text-white hover:text-base-900"
          title="#_"
        >
          <svg
            class="size-4"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></svg
          >
        </a>

        <Text tag="h3" variant="textBase" class="font-medium text-white"
          >{title}
        </Text>
      </div>
      <div class="flex items-center gap-2 text-white">
        <div x-data="{ open: false }">
          <button class="flex items-center" x-on:click="open = true">
            <svg
              class="size-4"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M3 2.5C3 2.22386 3.22386 2 3.5 2H11.5C11.7761 2 12 2.22386 12 2.5V13.5C12 13.6818 11.9014 13.8492 11.7424 13.9373C11.5834 14.0254 11.3891 14.0203 11.235 13.924L7.5 11.5896L3.765 13.924C3.61087 14.0203 3.41659 14.0254 3.25762 13.9373C3.09864 13.8492 3 13.6818 3 13.5V2.5ZM4 3V12.5979L6.97 10.7416C7.29427 10.539 7.70573 10.539 8.03 10.7416L11 12.5979V3H4Z"
                fill="currentColor"
                fill-rule="evenodd"
                clip-rule="evenodd"></path></svg
            >
          </button>
          <BookmarksModal />
        </div>
        <button class="flex items-center">
          <svg
            class="size-4"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M4.89346 2.35248C3.49195 2.35248 2.35248 3.49359 2.35248 4.90532C2.35248 6.38164 3.20954 7.9168 4.37255 9.33522C5.39396 10.581 6.59464 11.6702 7.50002 12.4778C8.4054 11.6702 9.60608 10.581 10.6275 9.33522C11.7905 7.9168 12.6476 6.38164 12.6476 4.90532C12.6476 3.49359 11.5081 2.35248 10.1066 2.35248C9.27059 2.35248 8.81894 2.64323 8.5397 2.95843C8.27877 3.25295 8.14623 3.58566 8.02501 3.88993C8.00391 3.9429 7.98315 3.99501 7.96211 4.04591C7.88482 4.23294 7.7024 4.35494 7.50002 4.35494C7.29765 4.35494 7.11523 4.23295 7.03793 4.04592C7.01689 3.99501 6.99612 3.94289 6.97502 3.8899C6.8538 3.58564 6.72126 3.25294 6.46034 2.95843C6.18109 2.64323 5.72945 2.35248 4.89346 2.35248ZM1.35248 4.90532C1.35248 2.94498 2.936 1.35248 4.89346 1.35248C6.0084 1.35248 6.73504 1.76049 7.20884 2.2953C7.32062 2.42147 7.41686 2.55382 7.50002 2.68545C7.58318 2.55382 7.67941 2.42147 7.79119 2.2953C8.265 1.76049 8.99164 1.35248 10.1066 1.35248C12.064 1.35248 13.6476 2.94498 13.6476 4.90532C13.6476 6.74041 12.6013 8.50508 11.4008 9.96927C10.2636 11.3562 8.92194 12.5508 8.00601 13.3664C7.94645 13.4194 7.88869 13.4709 7.83291 13.5206C7.64324 13.6899 7.3568 13.6899 7.16713 13.5206C7.11135 13.4709 7.05359 13.4194 6.99403 13.3664C6.0781 12.5508 4.73641 11.3562 3.59926 9.96927C2.39872 8.50508 1.35248 6.74041 1.35248 4.90532Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</div>
