---
// Assets
import { Image } from "astro:assets";
// Layout
import BaseLayout from "./BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/components/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BookmarksModal from "@/components/sites/BookmarksModal.astro";
import SmallCards from "@/components/sites/SmallCards.astro";
// Retrieve all posts from the "posts" collection
import { getCollection } from "astro:content";
const alltools = await getCollection("sites");
// Frontmatter
const { frontmatter } = Astro.props;
// This layout is not using the <slot/> feature, it's getting content from the markdown file frontmatter.
// The <slot/> feature is used to allow for dynamic content to be inserted into the layout by writing the content in the markdown file outsite the frontmatter.
//
// You can add the <slot/> where you want the content to be inserted by using the following syntax:
// <slot/> and use the Wrapper component with variant="prose" to style the content, the styles are already defined in the Wrapper component.
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-32 lg:pb-48 pt-12">
      <div class="grid grid-cols-1 gap-1 lg:grid-cols-4">
        <div class="lg:col-span-1 lg:sticky lg:top-8 lg:self-start">
          <div class="p-6 bg-base-800 rounded-3xl">
            <div class="bg-base-950 rounded-xl">
              <div class="px-6 py-4 flex items-center justify-between">
                <Text
                  tag="p"
                  variant="textSM"
                  class="text-white font-medium uppercase">Details</Text
                >
                <div class="flex items-center ml-auto gap-1">
                  <div x-data="{ open: false }">
                    <button
                      class="size-8 bg-base-800 p-2 flex hover:bg-base-100 rounded-full transition-colors text-white hover:text-base-900 items-center"
                      x-on:click="open = true"
                    >
                      <svg
                        class="size-4"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          d="M3 2.5C3 2.22386 3.22386 2 3.5 2H11.5C11.7761 2 12 2.22386 12 2.5V13.5C12 13.6818 11.9014 13.8492 11.7424 13.9373C11.5834 14.0254 11.3891 14.0203 11.235 13.924L7.5 11.5896L3.765 13.924C3.61087 14.0203 3.41659 14.0254 3.25762 13.9373C3.09864 13.8492 3 13.6818 3 13.5V2.5ZM4 3V12.5979L6.97 10.7416C7.29427 10.539 7.70573 10.539 8.03 10.7416L11 12.5979V3H4Z"
                          fill="currentColor"
                          fill-rule="evenodd"
                          clip-rule="evenodd"></path></svg
                      >
                    </button>
                    <BookmarksModal />
                  </div>
                  <a
                    href={frontmatter.live}
                    title={frontmatter.title}
                    class="size-8 bg-base-800 p-2 inline-flex hover:bg-base-100 rounded-full transition-colors text-white hover:text-base-900 items-center"
                  >
                    <svg
                      class="size-4"
                      viewBox="0 0 15 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      ><path
                        d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
                        fill="currentColor"
                        fill-rule="evenodd"
                        clip-rule="evenodd"></path></svg
                    >
                  </a>
                </div>
              </div>
              <dl
                class="relative flex flex-col gap-4 divide-y border-y border-base-900 divide-base-900 w-full"
              >
                <div class="flex flex-col px-6 py-4">
                  <div class="flex gap-2 items-center">
                    <Image
                      width="1000"
                      height="1000"
                      src={frontmatter.logo.url}
                      alt={frontmatter.logo.url}
                      class="size-6"
                    />
                    <Text
                      tag="h1"
                      variant="textXL"
                      class="text-white font-medium tracking-tight"
                    >
                      {frontmatter.title}
                    </Text>
                  </div>
                </div>
                <div class="flex flex-col px-6 py-4">
                  <dt>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="text-white font-medium"
                    >
                      <span>Tagline</span>
                    </Text>
                  </dt>
                  <dd class="mt-1 text-base-400">
                    <Text tag="p" variant="textSM" class="text-base-400">
                      {frontmatter.tagline}
                    </Text>
                  </dd>
                </div>
                <div class="flex flex-col px-6 py-4">
                  <dt>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="text-white font-medium"
                    >
                      <span>Description</span>
                    </Text>
                  </dt>
                  <dd class="mt-1 text-base-400">
                    <Text tag="p" variant="textSM" class="text-base-400">
                      {frontmatter.description}
                    </Text>
                  </dd>
                </div>
                {
                  frontmatter.details.map((details) => (
                    <div class="flex flex-col px-6 py-4">
                      <dt>
                        <Text
                          tag="p"
                          variant="textSM"
                          class="text-white font-medium "
                        >
                          <span>{details.label}</span>
                        </Text>
                      </dt>
                      <dd class="mt-1 text-base-400">
                        <Text tag="p" variant="textSM" class="text-base-400">
                          {details.value}
                        </Text>
                      </dd>
                    </div>
                  ))
                }
              </dl>
            </div>
          </div>
        </div>
        <div
          class="outline outline-base-900 lg:col-span-3 lg:col-start-2 bg-base-800 p-6 rounded-3xl"
        >
          <Image
            width="3000"
            height="3000"
            src={frontmatter.thumbnail.url}
            alt={frontmatter.thumbnail.url}
            class="h-full object-top rounded-2xl"
          />
        </div>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="pb-8">
      <div class="flex flex-col gap-4 lg:flex-row lg:justify-between">
        <Text tag="h2" variant="textXS" class="font-medium uppercase text-white"
          >Latest additions</Text
        >
        <Link
          size="sm"
          variant="default"
          animated={true}
          withArrow={true}
          href="/sites/home"
        >
          See all tools
        </Link>
      </div>
      <div class="grid grid-cols-1 gap-px md:grid-cols-2 xl:grid-cols-4 mt-2">
        {alltools.slice(8, 12).map((post) => <SmallCards post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
